@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
    
}

nav {
    height: 80px;
    background:#74b4c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc(100vw-1300px) / 2;
}

.logo{
    color: #ffe993;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 2rem;
}

nav p{
    color: #ffe993;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 3rem;
}


.hero{
    background:#74b4c6;
}

.hero-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 0rem calc(100vw-1300px) / 2;
}

.column-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
}

.column-right{
    display: flex;
    color: #ffe993;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    padding: 5rem 2rem;
}

.column-right h1{
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.column-right p{
    margin: 2rem 0;
    font-size: 1.4rem;
    line-height: 1.1;
}


.hero-image{
    width:100%;
    height: 100%;
}

.nav-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    padding: 0rem 3rem;
}

.nav-button{
   width: 100px;
   height: 50px;
    border: none;
    color:#74b4c6;
    background-color: #ffe993;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #74b4c6;
    transition: ease-out 0.5s;
    font-size: 20px;
    outline : none;
    
}

.nav-button:hover{
    box-shadow: inset 400px 0 0 0 #74b4c6;
    color: #ffe993;
    cursor: pointer;
}


#map{
    height: 80%;
    width: 80%;
}

@media screen and (max-width:768px){
    .hero-container{
        grid-template-columns: 1fr;
    }
}
